<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>React Redux Starter</title>

    <meta name="description" content="A react starter pack with jwt-auth.">

    <!-- Open Graph data -->
    <meta property="og:title" content="A clear title without branding or mentioning the domain itself.">
    <meta property="og:type" content="The type of object.">
    <meta property="og:url" content="A URL with no session id or extraneous parameters. All shares on Facebook will use this as the identifying URL for this article.">
    <meta property="og:image" content="Use images that are at least 1200 x 630 pixels for the best display on high resolution devices.">
    <meta property="og:description" content="A clear description, at least two sentences long.">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="The card type">
    <meta name="twitter:site" content="@username of website. Either twitter:site or twitter:site:id is required.">
    <meta name="twitter:title" content="Title of content (max 70 characters).">
    <meta name="twitter:description" content="Description of content (maximum 200 characters).">
    <meta name="twitter:creator" content="@username of content creator.">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="URL of image to use in the card. Image must be less than 1MB in size.">

    <% if (htmlWebpackPlugin.options.production) { %>
      <% htmlWebpackPlugin.files.chunks.style.css.forEach(function (filePath) { %>
        <style>
          <%= compilation.assets[filePath.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
        </style>
      <% }) %>
    <% } %>
  </head>
  <body>
    <div id="root"></div>

    <% if (htmlWebpackPlugin.options.production) { %>
      <!-- Optimize css delivery according to https://developers.google.com/speed/docs/insights/OptimizeCSSDelivery -->
      <noscript id="deferred-styles">
        <% htmlWebpackPlugin.files.chunks.app.css.forEach(function (filePath) { %>
          <link rel="stylesheet" href="<%= filePath %>">
        <% }) %>
      </noscript>
      <script>
        (function (w, d, i, l, a, r, p) {
          function l () {
            var a = d.getElementById(i);
            var p = d.createElement('div');
            p.innerHTML = a.textContent;
            d.body.appendChild(p)
            a.parentElement.removeChild(a);
          };

          r = requestAnimationFrame || mozRequestAnimationFrame ||
              webkitRequestAnimationFrame || msRequestAnimationFrame;

          r ? r(function () { w.setTimeout(l, 0); }) : w.addEventListener('load', l);
        })(window, document, 'deferred-styles');
      </script>
      <script src="<%= htmlWebpackPlugin.files.chunks.manifest.entry %>" defer></script>
      <script src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>" defer></script>
      <script src="<%= htmlWebpackPlugin.files.chunks.app.entry %>" defer></script>
    <% } else { %>
      <% htmlWebpackPlugin.files.js.forEach(function (filePath) { %>
        <script src="<%= filePath %>" defer></script>
      <% }) %>
    <% } %>
  </body>
</html>
