doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title .

    meta(name="description" content="A react starter pack with jwt-auth.")

    //- Open Graph data
    meta(property="og:title" content="A clear title without branding or mentioning the domain itself.")
    meta(property="og:type" content="The type of object.")
    meta(property="og:url" content="A URL with no session id or extraneous parameters. All shares on Facebook will use this as the identifying URL for this article.")
    meta(property="og:image" content="Use images that are at least 1200 x 630 pixels for the best display on high resolution devices.")
    meta(property="og:description" content="A clear description, at least two sentences long.")

    //- Twitter Card data
    meta(name="twitter:card" content="The card type")
    meta(name="twitter:site" content="@username of website. Either twitter:site or twitter:site:id is required.")
    meta(name="twitter:title" content="Title of content (max 70 characters).")
    meta(name="twitter:description" content="Description of content (maximum 200 characters).")
    meta(name="twitter:creator" content="@username of content creator.")
    //- Twitter Summary card images must be at least 120x120px
    meta(name="twitter:image" content="URL of image to use in the card. Image must be less than 1MB in size.")

    each filePath in htmlWebpackPlugin.files.css
      style !{compilation.assets[filePath.substr(htmlWebpackPlugin.files.publicPath.length)].source()}

  body
    div(id="root")

  each filePath in htmlWebpackPlugin.files.js
      script(defer, src=filePath)
