{
  "presets": [
    "es2015",
    "stage-1",
    "react",
    "react-optimize"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "${CONFIG}",
            "verbose": false
          }
        ]
      ]
    },
    "development": {
      "presets": ["react-hmre"]
    },
    "production": {}
  }
}
