html { height: 100%; }

body {
  min-height: 100%;

  font-size: $root-font-size;

  background: $color-bg;
}

*:focus { outline: 0; }

[hidden][aria-hidden="false"]:focus {
    clip: rect(0 0 0 0);
}
