@import '~utils/__utils';

.form-text {
  position: relative;

  input[type='text'],
  input[type='email'],
  input[type='tel'],
  input[type='password'], {
    display: block;

    width: 100%;
    height: 3em;

    margin: .2em 0 .4em;
    padding: .5em;

    border-radius: 0;
    border: 1px solid $color-contrast-rich;

    &.error { border-color: $color-error; }
  }
}
