@import '~utils/__utils';

.submit-button {
  position: relative;

  display: block;
  width: 100%;

  margin: 2em 0;

  height: 2.875em;

  cursor: pointer;

  &:before,
  span {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: transform 40ms ease;
  }

  &:before {
    content: '';

    background: $color-contrast-rich;

    transform: translate3d(.25em, .25em, 0);
  }

  span {
    color: $color-contrast-rich;

    line-height: 2.875em;

    background: $color-base;

    transform: translate3d(0, 0, 0);
  }

  &:active {
    &:before,
    span {
      transform: translate3d(.125em, .125em, 0);
    }
  }
}
