@import '~utils/__utils';

.form-field {
  position: relative;

  .error-message {
    position: absolute;
    top: 0;
    right: 0;

    margin: 0;
    padding: .25em .5em;

    font-size: .75em;

    color: $color-base;

    background: $color-error;
  }
}

.form-label {
  display: block;
  font-size: .875em;
}
